{% extends 'quest/base.html' %}
{% block content %}
	<ul class="list-group">
		<li class="list-group-item">Please read the following carefully, this is important.</li>
		<li class="list-group-item">Admin is god.</li>
		<li class="list-group-item">Please register using your real name and email, sketchy users will be deleted without notice.</li>
		<li class="list-group-item">All answers should be entered in lowercase alphanumeric characters, without spaces and punctuation.</li>
		<li class="list-group-item">Each question carries some points.</li>
		<li class="list-group-item">You can't proceed to next question until you answer the previou one <b>correctly</b> current one.</li>
		<li class="list-group-item">You are free to search the web</li>
		<li class="list-group-item"><strong>Cheating in any form will result in a premanent ban.</strong> Sharing of answers is deamed as cheating. We are watching your every move and any suspicious activity will lead to disqualification.</li>
		<li class="list-group-item">Answer to first question could be like "fruit" or "brand"</li>
		
	</ul>
{% endblock %}